<!doctype html>
<html>
  <head>
    <title>Cookie Library</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <img src="https://ewedit.files.wordpress.com/2017/08/cm-p022-sst.jpg" alt="Cookie Monster" /><br />
    <a href="/cookies" title="See Cookies">See Cookies</a>
  </body>
</html>
