<!doctype html>
<html>
  <head>
    <title>New Cookie</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>New Cookie</h1>
    <form method="POST" action="/cookies">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" placeholder="Enter a name..." /><br />
      <label for="image">Image: </label>
      <input type="url" id="image" name="image" placeholder="Enter image URL..." /><br />
      <button type="submit">Make Cookie</button>
    </form>
  </body>
</html>
